<footer class="footer">
    <ul class="footer__ul-first">
        <a href="https://adalab.es/" target="_blank" class="footer__ul-link">
        <li class="footer__ul-first-elements">zapatillas</li>
        <li class="footer__ul-first-elements">ropa</li>
        <li class="footer__ul-first-elements">niño/a</li>
        <li class="footer__ul-first-elements">destacados</li>
        <li class="footer__ul-first-elements">tips</li>
        </a>
    </ul>
    <ul class="footer__ul-second">
        <a href="https://adalab.es/" target="_blank" class="footer__ul-link">
        <li class="footer__ul-second-elements">twitter</li>
        <li class="footer__ul-second-elements">instagram</li>
        <li class="footer__ul-second-elements">youtube</li>
        </a>
    </ul>
    <div class="footer__container">
    <span class="footer__copyright">© 2023</span>
    <span class="footer__sign">we
        <a class="footer__sign-icon" href="../partials/header.html">
            <i class="fa-solid fa-heart" class="footer__sing-icon"></i>
        </a>
        run</span>
    </div>
</footer>