<header class="header">
    <div class="header__static">
    <nav class="header__nav-icon">
        <a href="https://adalab.es/" target="_blank">
        <img src="./assets/images/ico-menu.svg" alt="Menú">
         </a>
    </nav>
    </div>
    <div class="header__hero">
        <h1 class="header__hero-h1">comienzos compartidos</h1>
        <p class="header__hero-p">Todo lo que necesitan para volver al cole con ilusión</p>
     <div>  
        <nav class="header__hero-button">
           <a href="../partials/hero-second-section.html"> 
            <img src="./assets/images/ico-scroll-down.svg"/>
        </a>
        </nav>
    </div> 
    </div>
</header>