<div class="hero__secondsection">
    <section class="hero__secondsection-tittles">
        <h2 class="hero__secondsection-h2">¡prepáralos con tus marcas favoritas!</h2>
        <h3 class="hero__secondsection-h3">vuelta al cole</h3>
    </section>
    <section class="hero__secondsection-grid">   
                <article class="grid__articles">
                    <img src="./assets/images/mochilasescolares.png" alt="Mochilas escolares" class="grid__images">
                    <p class="grid__p">mochilas escolares</p>
                </article>
                <article class="grid__articles">
                    <img src="./assets/images/estuches.png" alt="Estuches" class="grid__images">
                    <p class="grid__p">estuches</p>
                </article>
                <article class="grid__articles">
                    <img src="./assets/images/bolsasdeporte.png" alt="Bolsas de deporte" class="grid__images">
                    <p class="grid__p">bolsas de deporte</p>
                </article>
    </section>
    <section class="hero__secondsection-nav">
        <nav class="hero__secondsection-button">empezar ahora</nav>
        <nav class="hero__secondsection-navButton">
            <a href="#">
            <img src="./assets/images/ico-arrow.svg">
            </a>
        </nav>
    </section>
</div>