* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.header {
  display: flex;
  background-image: url(../images/cover.jpeg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 83%;
  margin: auto; }
  .header .header__static {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; }
  .header .header__nav-icon {
    background-color: #6c933e;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .header .header__hero {
    display: flex;
    color: white;
    margin-top: 29.7rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .header .header__hero-h1 {
    font-family: "Roboto Slab";
    text-transform: uppercase;
    font-size: 3rem;
    width: 31.52rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 6rem; }
    @media (min-width: 768px) {
      .header .header__hero-h1 {
        font-size: 7.5rem;
        flex-direction: column;
        width: 68.9rem;
        margin-left: 7rem;
        margin-top: 1rem; } }
    @media (min-width: 1024px) {
      .header .header__hero-h1 {
        align-items: center;
        font-size: 7.5rem;
        line-height: 10rem;
        text-align: center; } }
  .header .header__hero-p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    @media (min-width: 768px) {
      .header .header__hero-p {
        font-size: 2.4rem;
        margin-left: 23rem;
        margin-right: 22rem; } }
  .header .header__hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50% 50%;
    transform: translateY(100%);
    margin-bottom: 5.8rem; }

.hero {
  display: flex;
  flex-direction: column;
  text-align: left; }
  .hero .hero__firstsection {
    padding-left: 1.3rem; }
    @media (min-width: 768px) {
      .hero .hero__firstsection {
        margin-left: 4.3rem;
        margin-right: 3.6rem; } }
    @media (min-width: 1024px) {
      .hero .hero__firstsection {
        margin-left: 17rem;
        margin-right: 17rem; } }
  .hero__firstsection-h2 {
    text-transform: uppercase;
    color: #6c933e;
    font-family: "Roboto";
    margin-top: 3.4rem;
    font-size: 1.4rem; }
    @media (min-width: 768px) {
      .hero__firstsection-h2 {
        margin-bottom: 1rem;
        font-size: 1.6rem; } }
  .hero__firstsection-h3 {
    font-family: "Roboto Slab";
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2.2rem; }
    @media (min-width: 768px) {
      .hero__firstsection-h3 {
        font-size: 3.2rem; } }
  .hero__firstsection-h3-p {
    font-family: "Roboto";
    font-size: 1.8rem;
    font-weight: 300; }
    @media (min-width: 768px) {
      .hero__firstsection-h3-p {
        font-size: 2rem; } }
  .hero__firstsection-button {
    text-transform: capitalize;
    font-family: "Roboto";
    color: #6c933e;
    border: 0.2rem solid #6c933e;
    font-size: 2rem;
    text-align: center;
    width: 16rem;
    height: 4.5rem;
    margin-top: 4.2rem;
    margin-bottom: 2.8rem;
    padding-top: 1rem;
    border-radius: 6rem; }
    @media (min-width: 768px) {
      .hero__firstsection-button {
        margin-bottom: 5.2rem; } }

/*CORTE ENTRE SECCIONES*/
.hero__secondsection {
  background-color: #d9e4cc; }
  .hero__secondsection .hero__secondsection-tittles {
    text-align: center; }
    .hero__secondsection .hero__secondsection-tittles .hero__secondsection-h2 {
      font-family: "Roboto Slab";
      color: #4a4a4a;
      font-size: 1.2rem;
      margin-top: 2.7rem; }
    .hero__secondsection .hero__secondsection-tittles .hero__secondsection-h2::first-letter {
      text-transform: uppercase; }
    .hero__secondsection .hero__secondsection-tittles .hero__secondsection-h3 {
      font-family: "Roboto Slab";
      font-size: 2rem;
      line-height: 3rem;
      text-transform: uppercase;
      margin-bottom: 1rem; }
  .hero__secondsection .hero__secondsection-grid {
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 15rem 15rem 15rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 1.5rem; }
    @media (min-width: 768px) {
      .hero__secondsection .hero__secondsection-grid {
        grid-template-columns: 15rem 15rem 15rem;
        grid-template-rows: 15rem;
        justify-content: center;
        justify-items: center;
        text-align: center;
        gap: 11rem;
        margin-top: 2.2rem; } }
    .hero__secondsection .hero__secondsection-grid .grid__images {
      width: 11.5rem;
      border-radius: 50%; }
    .hero__secondsection .hero__secondsection-grid .grid__p {
      text-transform: capitalize;
      font-family: "Roboto Slab";
      color: black;
      font-size: 1.4rem;
      line-height: 3rem; }
  .hero__secondsection .hero__secondsection-nav .hero__secondsection-button {
    color: white;
    background-color: #6c933e;
    font-family: "Roboto";
    text-align: center;
    font-size: 2rem;
    height: 4.7rem;
    width: 18.4rem;
    margin-bottom: 1rem;
    padding-bottom: 0.7rem;
    padding-top: 1rem;
    border-radius: 6rem;
    transform: translateX(35%); }
    @media (min-width: 768px) {
      .hero__secondsection .hero__secondsection-nav .hero__secondsection-button {
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: 2.9rem;
        margin-right: 2.9rem;
        transform: translateX(150%);
        margin-top: 1rem; } }
    @media (min-width: 1024px) {
      .hero__secondsection .hero__secondsection-nav .hero__secondsection-button {
        transform: translateX(215%); } }
  .hero__secondsection .hero__secondsection-nav .hero__secondsection-button:first-letter {
    text-transform: uppercase; }
  .hero__secondsection .hero__secondsection-nav .hero__secondsection-button:hover {
    background-color: white;
    color: #6c933e; }
  .hero__secondsection .hero__secondsection-nav .hero__secondsection-navButton {
    display: flex;
    background-color: white;
    border-radius: 10rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.3rem;
    transform: translateY(50%);
    padding: 12px;
    align-items: center;
    margin: auto; }
    @media (min-width: 768px) {
      .hero__secondsection .hero__secondsection-nav .hero__secondsection-navButton {
        margin-left: 375px;
        transform: translateY(50%); } }
    @media (min-width: 1024px) {
      .hero__secondsection .hero__secondsection-nav .hero__secondsection-navButton {
        margin-left: 490px;
        transform: translateY(50%); } }

.footer {
  background-color: #4a4a4a;
  color: white;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  padding-top: 6.2rem;
  justify-content: center;
  text-align: center;
  list-style: none; }
  .footer .hero__secondsection-navButton {
    display: flex;
    background-color: white;
    border-radius: 10rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.3rem;
    transform: translateY(50%);
    padding: 12px;
    align-items: center;
    margin: auto; }
    @media (min-width: 768px) {
      .footer .hero__secondsection-navButton {
        margin-left: 375px;
        transform: translateY(50%); } }
    @media (min-width: 1024px) {
      .footer .hero__secondsection-navButton {
        margin-left: 490px;
        transform: translateY(50%); } }
  @media (min-width: 768px) {
    .footer {
      flex-direction: row-reverse;
      justify-content: space-around; } }
  .footer__ul-first, .footer__ul-second {
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 3rem;
    list-style: none; }
  .footer__ul-first {
    margin-bottom: 2.8rem; }
    @media (min-width: 768px) {
      .footer__ul-first {
        order: 2; } }
  .footer__ul-second {
    margin-bottom: 3rem; }
    @media (min-width: 768px) {
      .footer__ul-second {
        order: 1; } }
  .footer .footer__ul-link {
    text-decoration: none;
    color: white; }
  .footer .footer__copyright {
    font-family: "Roboto";
    font-size: 1.4rem;
    line-height: 3rem; }
  .footer .footer__sign {
    padding-bottom: 3.32rem;
    font-family: "Roboto";
    font-size: 1.4rem;
    line-height: 3rem; }
  .footer .footer__sign-icon {
    color: #6c933e; }
  .footer .footer__container {
    flex-direction: column; }
    @media (min-width: 768px) {
      .footer .footer__container {
        order: 3; } }

/*# sourceMappingURL=main.css.map */
