@import './core/variables';
@import './core/reset';

.header {
    display: flex;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: 83%;

    .header__static {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .header__nav-icon {
        background-color: $verdemoss-green;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header__hero{
        width: 100vw;
        color: white;
        margin-top: 29.7rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 1rem;
    }

        .header__hero-h1 {
            font-family: $robotoSladBold;
            text-transform: uppercase;
            font-size: 3rem;
            width: 31.52rem;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;
            margin-top: 6rem;

            @media (min-width:768px) {
                font-size: 7.5rem;
                flex-direction: column;
                width: 68.9rem;
                margin-left: 7rem;
                margin-top: 1rem;
            }

            @media (min-width:1024px) {
                align-items: center;
                font-size: 7.5rem;
                line-height: 10rem;
                margin-left: 18rem;
            }
        }

        .header__hero-p {
            font-family: $robotoRegular;
            font-weight: 300;
            font-size: 1.6rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;

            @media (min-width:768px) {
                font-size: 2.4rem;
                margin-left: 23rem;
                margin-right: 22rem;
            }
        }

        .header__hero-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 50% 50%;
            transform: translateY(150%) translateX(350%);
            margin-bottom: 5.8rem;

            @media (min-width:768px) {
                transform: translateX(950%);
                margin-top: 2.2rem;
            }

            @media (min-width:1024px) {
                transform: translateX(1350%);
            }
        }
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: left;

        .hero__firstsection{
            padding-left: 1.3rem;

            @media (min-width:768px) {
                margin-left: 4.3rem;
                margin-right: 3.6rem;
            }

            @media (min-width:1024px) {
                margin-left: 17rem;
                margin-right: 17rem;
            }
        }
            .hero__firstsection-h2 {
                text-transform: uppercase;
                color: $verdemoss-green;
                font-family: $robotoRegular;
                margin-top: 3.4rem;
                font-size: 1.4rem;

                @media (min-width:768px) {
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                }
            }

            .hero__firstsection-h3 {
                font-family: $robotoSladBold;
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-size: 2.2rem;

                @media (min-width:768px) {
                    font-size: 3.2rem;
                }
            }

            .hero__firstsection-h3-p {
                font-family: $robotoRegular;
                font-size: 1.8rem;
                font-weight: 300;

                @media (min-width:768px) {
                    font-size: 2rem;
                }
            }

            .hero__firstsection-button {
                text-transform: capitalize;
                font-family: $robotoRegular;
                color: $verdemoss-green;
                border: 0.2rem solid $verdemoss-green;
                font-size: 2rem;
                text-align: center;
                width: 16rem;
                height: 4.5rem;
                margin-top: 4.2rem;
                margin-bottom: 2.8rem;
                padding-top: 1rem;
                border-radius: 6rem;

                @media (min-width:768px) {
                    margin-bottom: 5.2rem;
                }
            }
        }

        /*CORTE ENTRE SECCIONES*/

.hero__secondsection {
    
    background-color: $verdelight-green;

        .hero__secondsection-tittles {
            text-align: center;

            .hero__secondsection-h2 {
                font-family: $robotoSladBold;
                color: $verdegreyish-brown;
                font-size: 1.2rem;
                margin-top: 2.7rem;
            } 

            .hero__secondsection-h2::first-letter{
                text-transform: uppercase;
            }

            .hero__secondsection-h3 {
                font-family: $robotoSladBold;
                font-size: 2rem;
                line-height: 3rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
        }

        .hero__secondsection-grid {
            display: grid;
            grid-template-columns: 15rem;
            grid-template-rows: 15rem 15rem 15rem;
            justify-content: center;
            justify-items: center;
            text-align: center;
            gap: 1.5rem;

            @media (min-width:768px) {
                grid-template-columns: 15rem 15rem 15rem;
                grid-template-rows: 15rem;
                justify-content: center;
                justify-items: center;
                text-align: center;
                gap: 11rem;
                margin-top: 2.2rem;
            }

            .grid__images {
                width: 11.5rem;
                border-radius: 50%;
            }

            .grid__p {
                text-transform: capitalize;
                font-family: $robotoSladBold;
                color: black;
                font-size: 1.4rem;
                line-height: 3rem;
            }
        }

        .hero__secondsection-nav{

            .hero__secondsection-button {
                color: white;
                background-color: $verdemoss-green;
                font-family: $robotoRegular;
                text-align: center;
                font-size: 2rem;
                height: 4.7rem;
                width: 18.4rem;
                margin-bottom: 1rem;
                padding-bottom: 0.7rem;
                padding-top: 1rem;
                border-radius: 6rem;
                transform: translateX(35%);

                @media (min-width:768px) {
                    display: inline-block;
                    justify-content: center;
                    align-items: center;
                    margin-left: 2.9rem;
                    margin-right: 2.9rem;
                    transform: translateX(150%);
                    margin-top: 1rem;
                }

                @media (min-width:1024px) {
                    transform: translateX(215%);
                }
            }

            .hero__secondsection-button:first-letter {
                text-transform: uppercase;
            }

            .hero__secondsection-navButton {
              background-color: white;
              border-radius: 10rem;
              width: 4.5rem;
              height: 4.5rem;
              padding: 0.3rem;
              transform: translateX(300%);
              padding: 12px;

              @media (min-width:768px) {
                margin-left: 375px;
                transform: translateY(50%);
              }

              @media (min-width:1024px) {
                margin-left: 490px;
                transform: translateY(50%);
              }
            }

        }

    }
    /*AQUÍ EMPIEZA EL FOOTER*/

    .footer {
        background-color: $verdegreyish-brown;
        color: white;
        font-family: $robotoRegular;
        display: flex;
        flex-direction: column;
        padding-top: 6.2rem;
        justify-content: center;
        text-align: center;
        list-style: none;

        @media (min-width:768px) {
            flex-direction: row-reverse;
            justify-content: space-around;
        }
        
        &__ul-first, &__ul-second {
            font-size: 1.6rem;
            text-transform: uppercase;
            line-height: 3rem;
            list-style: none;
        }

        &__ul-first {
            margin-bottom: 2.8rem;

            @media (min-width:768px) {
                order: 2;
            }
        }

        &__ul-second {
            margin-bottom: 3rem;

            @media (min-width:768px) {
                order: 1;
            }
        }

        .footer__ul-link {
            text-decoration: none;
            color: white;
        }

        .footer__copyright {
            font-family: $robotoRegular;
            font-size: 1.4rem;
            line-height: 3rem;
        }

        .footer__sign {
            padding-bottom: 3.32rem;
            font-family: $robotoRegular;
            font-size: 1.4rem;
            line-height: 3rem;
        }
        
        .footer__sign-icon {
            color: $verdemoss-green;
        }

        .footer__container{
            flex-direction: column;

            @media (min-width:768px) {
                order: 3;
            }
        }
    }